{% extends 'layout.html'%}
{% import 'macros.html' as macro %}
{% block content %}
    <div class="wf-container-outer" id='main-content'>
        <div class="container">
            <div class="col" style="font-size: 40px; font-weight: bold; text-align:center">
                {{macro.display_continent_title(continent,sub_region)}}
                {{macro.display_continent_image(continent,sub_region)}}
            </div>
            <div class="flex-container">
                {% for country in countries %}
                    <div class="shadow-sm p-5 mb-5 bg-light rounded">
                        {{country.name}}
                        <img style="width:70px; height:50px"src="{{country.flag}}" alt="flag">
                    </div>
                {%endfor%}
            </div>
        </div>
{% endblock %}