
    <div class="container">
    <div class="card text-center">
      <div class="card-header">
              <div class="flag">
              <img src="img/Flag_of_Kenya.svg" class="rounded float-left" width="100px" height="50px">
            </div>
        <h1>KENYA</h1>
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-geo" role="tab" aria-controls="nav-geo" aria-selected="true">Geographical</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-gov" role="tab" aria-controls="nav-gov" aria-selected="false">Governance</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-eco" role="tab" aria-controls="nav-eco" aria-selected="false">Economic</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-soc" role="tab" aria-controls="nav-soc" aria-selected="false">Social</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-Political" role="tab" aria-controls="nav-political" aria-selected="false">Political</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-know" role="tab" aria-controls="nav-know" aria-selected="false">Did you Know?</a>
            </li>
        </ul>
       </div>
      </nav>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-geo" role="tab" aria-controls="nav-geo" aria-selected="true">Geographical</a>           
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-gov" role="tab" aria-controls="nav-gov" aria-selected="true">Governance</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-eco" role="tab" aria-controls="nav-eco" aria-selected="false">Economic</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-soc" role="tab" aria-controls="nav-soc" aria-selected="false">Social</a>
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-pol" role="tab" aria-controls="nav-pol" aria-selected="true">Political</a>
        </div>
      </nav>    
        <div class="tab-pane fade" id="nav-soc" role="tabpanel" aria-labelledby="nav-soc-tab">
                <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-gov" role="tabpanel" aria-labelledby="nav-gov-tab">
                      <div class="card-body">
                          <img src="img/KE-map.gif" class="rounded float-left" width="270px">
                              <div class="container" style="font-size: 14px">
                                  <div class="row">
                                      <p>Longitude:</p>
                                  </div>
                                  <div class="row">
                                          <p>Latitude:</p>
                                      </div>
                                  <div class="row">
                                      <p>Sub Region:</p>
                                  </div>
                                  <div class="row">
                                      <p>Timezone:</p>
                                  </div>
                                  <div class="row">
                                      <p>Borders:</p>
                                  </div>
                                  <div class="row">
                                      <p>Borders:</p>
                                  </div>
                                  <div class="row">
                                      <p>Regional Block:</p>
                                  </div>
                              </div>
                          </div>
                        </div>
                  </div>
             </div>
        </div>