{% extends 'layout.html'%}
{% block content %}
    <div id='main-content'>
        <div class="controller"></div>
        <div class="wf-container-outer">
            <ul class="nav nav-pills wf-tabs-links">
                <li class="wf-tab-link-li">
                    <a href="{{url_for('main.continent', continent='americas', sub_region='north_america')}}" class="wf-tab-link">
                        <img src="{{url_for('static', filename='img/north-america.png')}}" alt="North America" class="img-fluid">
                        North America
                    </a>
                </li>
                <li class="wf-tab-link-li">
                    <a href="{{url_for('main.continent', continent='americas', sub_region='south_america')}}" class="wf-tab-link">
                        <img src="{{url_for('static', filename='img/south-america.png')}}" alt="South America" class="img-fluid">
                        South America
                    </a>
                </li>
                <li class="wf-tab-link-li">
                    <a href="{{url_for('main.continent', continent='europe')}}"  class="wf-tab-link">
                        <img src="{{url_for('static', filename='img/europe.png')}}" alt="Europe" class="img-fluid">
                        Europe
                    </a>
                </li>
                <li class="wf-tab-link-li">
                    <a href="{{url_for('main.continent', continent='asia')}}" class="wf-tab-link">
                        <img src="{{url_for('static', filename='img/asia.png')}}" alt="Asia" class="img-fluid">
                        Asia
                    </a>
                </li>
                <li class="wf-tab-link-li">
                    <a href="{{url_for('main.continent', continent='africa')}}" class="wf-tab-link active">
                        <img src="{{url_for('static', filename='img/africa.png')}}" alt="Africa" class="img-fluid">
                        Africa
                    </a>
                </li>
                <li class="wf-tab-link-li">
                    <a href="{{url_for('main.continent', continent='oceania')}}" class="wf-tab-link">
                        <img src="{{url_for('static', filename='img/australia.png')}}" alt="Australia" class="img-fluid">
                        Oceania
                    </a>
                </li>
                <li class="wf-tab-link-li">
                    <a href="#7a" class="wf-tab-link">
                        <img src="{{url_for('static', filename='img/antartica.png')}}" alt="Antartica" class="img-fluid">
                        Antarctica
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer">
            <p class="foot">Copyright © <span class="wf-current-year">2018</span>
            Designed by <a >.......</a></p>
        </div>
    </div> <!-- .main-content -->
{% endblock content%}